In [ ]:
#hink of yourself, currently working as a Business analyst in one of the top sports company. The senior management team has asked you to come up with metrics with which they can gauge which team will win the upcoming La Liga cup (Football tournament).

#The data set contains information on all the teams so far participated in all the past tournaments. It has data about how many goals each team scored, conceded, how many times they came within first 6 positions, how many seasons they have qualified, their best position in the past etc.

 

#You are required to do the following:

#Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (2.5 points)
#Print all the teams which have started playing between 1930-1980. (5 points)
#Print the list of teams which came Top 5 in terms of points (2.5 points)
#Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)
#Gol_diff_count = GoalsFor - GoalsAgainst

#Create a new column with name “Winning Percent” and append it to the data set (5 points)
#Percentage of Winning = (GamesWon / GamesPlayed)*100

#If there are any numerical error, replace it with 0%

#Print the top 5 teams which has the highest Winning percentage

#Group teams based on their “Best position” and print the sum of their points for all positions (5 points)
#Eg: Best Position                Points

        1                              25000

        2                              7000      

#Please Note:

#Total marks allotted for this assignment is 25.
#Assignment final submission should be a URL to your Github repository.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
s=pd.read_csv('Laliga.csv', delimiter=',')
a=s.copy(deep=True)
a

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,-,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,-,-,-,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,-,-,-,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,-,1,1,2,-,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,-,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,-,-,-,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,-,-,-,1,-,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,-,-,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,-,-,2,-,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,-,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,-,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,-,-,-,-,-,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,-,-,-,-,-,-,-,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,-,-,-,-,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,-,-,-,-,-,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,-,-,-,-,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,-,-,-,-,2,-,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,-,-,-,-,-,-,-,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,-,-,-,-,-,1,1,1930-31,2016-17,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,-,-,-,1,1,-,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,-,-,-,-,-,-,-,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,-,-,-,-,-,-,-,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,-,-,-,1,2,-,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,-,-,-,-,-,-,-,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,-,-,-,-,-,-,-,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,-,-,-,-,1,-,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,-,-,-,-,-,-,-,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,-,-,-,-,-,-,-,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,-,-,-,-,-,-,-,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,-,-,-,-,-,-,-,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,-,-,-,-,-,-,-,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,-,-,-,-,-,-,-,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,-,-,1,-,3,-,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,-,-,-,-,-,-,-,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,-,-,-,-,-,-,-,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,-,-,-,-,-,-,-,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,-,-,-,-,-,-,-,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,-,-,-,-,-,-,-,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,-,-,-,-,-,-,-,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,-,-,-,-,-,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,-,-,-,-,-,-,-,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,-,-,-,-,-,-,-,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,-,-,-,-,-,-,-,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,-,-,-,-,-,-,-,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,-,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,-,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,-,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,-,1955-56,1955-56,15
61,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,2017-18,9

In [3]:
header=a.iloc[0]
header
a.columns=header
a.drop(labels=0)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,-,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,-,-,-,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,-,-,-,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,-,1,1,2,-,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,-,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,-,-,-,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,-,-,-,1,-,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,-,-,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,-,-,2,-,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,-,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,-,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,-,-,-,-,-,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,-,-,-,-,-,-,-,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,-,-,-,-,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,-,-,-,-,-,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,-,-,-,-,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,-,-,-,-,2,-,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,-,-,-,-,-,-,-,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,-,-,-,-,-,1,1,1930-31,2016-17,6
30,30,Levante,11,416,402,113,95,194,430,632,-,-,-,-,-,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,-,-,-,1,1,-,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,-,-,-,-,-,-,-,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,-,-,-,-,-,-,-,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,-,-,-,1,2,-,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,-,-,-,-,-,-,-,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,-,-,-,-,-,-,-,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,-,-,-,-,1,-,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,-,-,-,-,-,-,-,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,-,-,-,-,-,-,-,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,-,-,-,-,-,-,-,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,-,-,-,-,-,-,-,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,-,-,-,-,-,-,-,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,-,-,-,-,-,-,-,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,-,-,1,-,3,-,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,-,-,-,-,-,-,-,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,-,-,-,-,-,-,-,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,-,-,-,-,-,-,-,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,-,-,-,-,-,-,-,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,-,-,-,-,-,-,-,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,-,-,-,-,-,-,-,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,-,-,-,-,-,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,-,-,-,-,-,-,-,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,-,-,-,-,-,-,-,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,-,-,-,-,-,-,-,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,-,-,-,-,-,-,-,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,-,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,-,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,-,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,-,1955-56,1955-56,15
61,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,2017-18,9

In [53]:
#

In [4]:
a=a[1:]
a

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,-,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,-,-,-,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,-,-,-,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,-,1,1,2,-,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,-,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,-,-,-,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,-,-,-,1,-,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,-,-,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,-,-,2,-,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,-,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,-,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,-,-,-,-,-,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,-,-,-,-,-,-,-,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,-,-,-,-,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,-,-,-,-,-,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,-,-,-,-,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,-,-,-,-,2,-,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,-,-,-,-,-,-,-,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,-,-,-,-,-,1,1,1930-31,2016-17,6
30,30,Levante,11,416,402,113,95,194,430,632,-,-,-,-,-,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,-,-,-,1,1,-,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,-,-,-,-,-,-,-,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,-,-,-,-,-,-,-,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,-,-,-,1,2,-,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,-,-,-,-,-,-,-,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,-,-,-,-,-,-,-,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,-,-,-,-,1,-,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,-,-,-,-,-,-,-,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,-,-,-,-,-,-,-,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,-,-,-,-,-,-,-,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,-,-,-,-,-,-,-,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,-,-,-,-,-,-,-,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,-,-,-,-,-,-,-,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,-,-,1,-,3,-,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,-,-,-,-,-,-,-,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,-,-,-,-,-,-,-,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,-,-,-,-,-,-,-,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,-,-,-,-,-,-,-,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,-,-,-,-,-,-,-,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,-,-,-,-,-,-,-,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,-,-,-,-,-,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,-,-,-,-,-,-,-,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,-,-,-,-,-,-,-,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,-,-,-,-,-,-,-,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,-,-,-,-,-,-,-,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,-,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,-,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,-,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,-,1955-56,1955-56,15
61,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,2017-18,9

In [5]:
b=a.replace(to_replace='-',value=np.nan)

b

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,NaN,NaN,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,NaN,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,NaN,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,NaN,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,NaN,NaN,NaN,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,NaN,NaN,NaN,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,NaN,1,1,2,NaN,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,NaN,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,NaN,NaN,NaN,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,NaN,NaN,NaN,1,NaN,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,NaN,NaN,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,NaN,NaN,2,NaN,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,NaN,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,NaN,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,NaN,NaN,NaN,NaN,NaN,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,NaN,NaN,NaN,NaN,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,NaN,NaN,NaN,NaN,NaN,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,NaN,NaN,NaN,NaN,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,NaN,NaN,NaN,NaN,2,NaN,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,NaN,NaN,NaN,NaN,NaN,1,1,1930-31,2016-17,6
30,30,Levante,11,416,402,113,95,194,430,632,NaN,NaN,NaN,NaN,NaN,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,NaN,NaN,NaN,1,1,NaN,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,NaN,NaN,NaN,1,2,NaN,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,NaN,NaN,NaN,NaN,1,NaN,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,NaN,NaN,1,NaN,3,NaN,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,NaN,NaN,NaN,NaN,NaN,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1955-56,1955-56,15
61,61,Girona,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-18,2017-18,9

In [6]:
b=b.fillna(value=0)
b

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
30,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
61,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

In [7]:
##Print the list of teams which came Top 5 in terms of points (2.5 points), Method # 1
b[:].loc[1:5]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [7]:
a['Pos'].max(axis=0)

'9'

In [50]:
# Method  #2
b.reset_index()

c=b.set_index('Points')

c.iloc[0:5,:]

,Pos,Team,Seasons,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
Points,,,,,,,,,,,,,,,,,,,
4385,1,Real Madrid,86,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
4262,2,Barcelona,86,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3442,3,Atletico Madrid,80,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3386,4,Valencia,82,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
3368,5,Athletic Bilbao,86,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [51]:
c.max()

0
Pos                     9
Team             Zaragoza
Seasons                 9
Debut             2017-18
Since/LastApp     2017-18
BestPosition            9
dtype: object

In [88]:
b.dtypes

0
Pos              object
Team             object
Seasons          object
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition     object
dtype: object

In [98]:
b['Since']=0
b.dtypes
#df = pd.DataFrame(df.row.str.split(' ',1).tolist(),
                                  # columns = ['flips','row'])

0
Pos              object
Team             object
Seasons          object
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition     object
Since             int64
dtype: object

In [114]:
#

In [7]:
d=b['Debut'].str.split("-",expand=True)
d

       0     1
1   1929  None
2   1929  None
3   1929  None
4   1931    32
5   1929  None
6   1934    35
7   1929  None
8   1929  None
9   1939    40
10  1932    33
11  1941    42
12  1939    40
13  1948    49
14  1929  None
15  1944    45
16  1935    36
17  1949    50
18  1933    34
19  1960    61
20  1951    52
21  1998    99
22  1941    42
23  1977    78
24  1959    60
25  2004    05
26  1935    36
27  1961    62
28  1940    41
29  1930    31
30  1963    64
..   ...   ...
32  1943    44
33  1977    78
34  1987    88
35  1941    42
36  1991    92
37  2007    08
38  1962    63
39  1994    95
40  1978    79
41  1971    72
42  1963    64
43  1999    00
44  2014    15
45  1929  None
46  1990    91
47  1947    48
48  1996    97
49  1995    96
50  1945    46
51  1953    54
52  1929  None
53  1979    80
54  1929  None
55  1950    51
56  2016    17
57  2009    10
58  1956    57
59  1951    52
60  1955    56
61  2017    18

[61 rows x 2 columns]

In [8]:
b['Debut']=d[0]
b['Since']=d[1]
b

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Since
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,None
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,None
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,None
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931,1987-88,1,32
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,None
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,4,5,12,6,32,1934,2001-02,1,35
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,0,4,5,2,5,16,1929,1994-95,3,None
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,3,2,5,4,3,19,1929,2010-11,1,None
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,1939,2012-13,2,40
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,0,2,3,4,4,14,1932,2015-16,1,33
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,5,4,1,0,1,12,1941,2014-15,1,42
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,1939,2012-13,4,40
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,0,1,1,1,3,1948,2013-14,4,49
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,1,2,0,1,5,1929,2011-12,2,None
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,1,2,2,1,7,1944,2015-16,2,45
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,0,2,2,2,6,1935,2016-17,4,36
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,0,1,0,1,2,1949,2008-09,4,50
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,0,3,2,2,4,11,1933,2000-01,3,34
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,0,2,1,5,1960,2012-13,3,61
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,1,5,1951,2015-16,2,52
21,21,Villarreal,17,970,646,266,172,208,892,789,...,1,1,2,3,2,9,1998,2013-14,2,99
22,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,1941,2016-17,6,42
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,1977,2015-16,8,78
24,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,1959,2014-15,5,60
25,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,0,1,1,2004,2015-16,6,05
26,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,0,1,4,5,1935,2010-11,5,36
27,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,0,2,0,2,1961,2009-10,5,62
28,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,1940,2007-08,11,41
29,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,0,1,1,1930,2016-17,6,31
30,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,0,1,1,1963,2015-16,6,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,...,0,0,1,1,0,2,1943,1987-88,4,44
33,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,1977,2005-06,12,78
34,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,0,1987,1996-97,7,88
35,35,Castellon,11,285,334,103,79,152,419,588,...,0,0,1,2,0,3,1941,1990-91,4,42
36,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,0,1991,2004-05,7,92
37,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,0,2007,2014-15,8,08
38,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,0,1,0,1,1962,2014-15,5,63
39,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,0,1994,1997-98,10,95
40,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,0,1978,2008-09,8,79
41,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1971,1979-80,12,72
42,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1963,1969-70,7,64
43,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,0,1999,2008-09,17,00
44,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,0,2014,2014-15,10,15
45,45,Arenas,7,107,130,43,21,66,227,308,...,0,1,0,3,0,4,1929,1934-35,3,None
46,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,0,1990,1992-93,9,91
47,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,0,1947,2006-07,7,48
48,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,0,1996,1998-99,17,97
49,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,0,1995,1997-98,19,96
50,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1945,1950-51,10,46
51,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953,1957-58,14,54
52,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,0,1,1,1929,1931-32,6,None
53,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1979,1980-81,10,80
54,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,0,1929,1930-31,8,None
55,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1950,1993-94,16,51
56,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,0,2016,2016-17,17,17
57,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,0,2009,2009-10,20,10
58,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956,1956-57,16,57
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951,1951-52,16,52
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955,1955-56,15,56
61,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017,2017-18,9,18

In [9]:
b['Debut']=b['Debut'].astype(int)
b.dtypes

0
Pos              object
Team             object
Seasons          object
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut             int64
Since/LastApp    object
BestPosition     object
Since            object
dtype: object

In [13]:
pd.to_numeric(b['Since'])

1      NaN
2      NaN
3      NaN
4     32.0
5      NaN
6     35.0
7      NaN
8      NaN
9     40.0
10    33.0
11    42.0
12    40.0
13    49.0
14     NaN
15    45.0
16    36.0
17    50.0
18    34.0
19    61.0
20    52.0
21    99.0
22    42.0
23    78.0
24    60.0
25     5.0
26    36.0
27    62.0
28    41.0
29    31.0
30    64.0
      ...
32    44.0
33    78.0
34    88.0
35    42.0
36    92.0
37     8.0
38    63.0
39    95.0
40    79.0
41    72.0
42    64.0
43     0.0
44    15.0
45     NaN
46    91.0
47    48.0
48    97.0
49    96.0
50    46.0
51    54.0
52     NaN
53    80.0
54     NaN
55    51.0
56    17.0
57    10.0
58    57.0
59    52.0
60    56.0
61    18.0
Name: Since, Length: 61, dtype: float64

In [10]:
b=b.fillna(value=0)
b

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Since
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,0
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,0
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,0
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931,1987-88,1,32
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,0
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,4,5,12,6,32,1934,2001-02,1,35
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,0,4,5,2,5,16,1929,1994-95,3,0
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,3,2,5,4,3,19,1929,2010-11,1,0
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,1939,2012-13,2,40
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,0,2,3,4,4,14,1932,2015-16,1,33
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,5,4,1,0,1,12,1941,2014-15,1,42
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,1939,2012-13,4,40
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,0,1,1,1,3,1948,2013-14,4,49
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,1,2,0,1,5,1929,2011-12,2,0
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,1,2,2,1,7,1944,2015-16,2,45
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,0,2,2,2,6,1935,2016-17,4,36
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,0,1,0,1,2,1949,2008-09,4,50
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,0,3,2,2,4,11,1933,2000-01,3,34
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,0,2,1,5,1960,2012-13,3,61
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,1,5,1951,2015-16,2,52
21,21,Villarreal,17,970,646,266,172,208,892,789,...,1,1,2,3,2,9,1998,2013-14,2,99
22,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,1941,2016-17,6,42
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,1977,2015-16,8,78
24,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,1959,2014-15,5,60
25,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,0,1,1,2004,2015-16,6,05
26,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,0,1,4,5,1935,2010-11,5,36
27,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,0,2,0,2,1961,2009-10,5,62
28,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,1940,2007-08,11,41
29,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,0,1,1,1930,2016-17,6,31
30,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,0,1,1,1963,2015-16,6,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,...,0,0,1,1,0,2,1943,1987-88,4,44
33,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,1977,2005-06,12,78
34,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,0,1987,1996-97,7,88
35,35,Castellon,11,285,334,103,79,152,419,588,...,0,0,1,2,0,3,1941,1990-91,4,42
36,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,0,1991,2004-05,7,92
37,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,0,2007,2014-15,8,08
38,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,0,1,0,1,1962,2014-15,5,63
39,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,0,1994,1997-98,10,95
40,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,0,1978,2008-09,8,79
41,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1971,1979-80,12,72
42,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1963,1969-70,7,64
43,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,0,1999,2008-09,17,00
44,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,0,2014,2014-15,10,15
45,45,Arenas,7,107,130,43,21,66,227,308,...,0,1,0,3,0,4,1929,1934-35,3,0
46,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,0,1990,1992-93,9,91
47,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,0,1947,2006-07,7,48
48,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,0,1996,1998-99,17,97
49,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,0,1995,1997-98,19,96
50,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1945,1950-51,10,46
51,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953,1957-58,14,54
52,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,0,1,1,1929,1931-32,6,0
53,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1979,1980-81,10,80
54,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,0,1929,1930-31,8,0
55,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1950,1993-94,16,51
56,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,0,2016,2016-17,17,17
57,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,0,2009,2009-10,20,10
58,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956,1956-57,16,57
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951,1951-52,16,52
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955,1955-56,15,56
61,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017,2017-18,9,18

In [15]:
b.dtypes

0
Pos              object
Team             object
Seasons          object
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut             int64
Since/LastApp    object
BestPosition     object
Since            object
dtype: object

In [16]:
b['Since']=b['Since'].astype(int)
b

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Since
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,0
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,0
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,0
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931,1987-88,1,32
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,0
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,4,5,12,6,32,1934,2001-02,1,35
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,0,4,5,2,5,16,1929,1994-95,3,0
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,3,2,5,4,3,19,1929,2010-11,1,0
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,1939,2012-13,2,40
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,0,2,3,4,4,14,1932,2015-16,1,33
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,5,4,1,0,1,12,1941,2014-15,1,42
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,1939,2012-13,4,40
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,0,1,1,1,3,1948,2013-14,4,49
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,1,2,0,1,5,1929,2011-12,2,0
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,1,2,2,1,7,1944,2015-16,2,45
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,0,2,2,2,6,1935,2016-17,4,36
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,0,1,0,1,2,1949,2008-09,4,50
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,0,3,2,2,4,11,1933,2000-01,3,34
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,0,2,1,5,1960,2012-13,3,61
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,1,5,1951,2015-16,2,52
21,21,Villarreal,17,970,646,266,172,208,892,789,...,1,1,2,3,2,9,1998,2013-14,2,99
22,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,1941,2016-17,6,42
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,1977,2015-16,8,78
24,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,1959,2014-15,5,60
25,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,0,1,1,2004,2015-16,6,5
26,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,0,1,4,5,1935,2010-11,5,36
27,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,0,2,0,2,1961,2009-10,5,62
28,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,1940,2007-08,11,41
29,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,0,1,1,1930,2016-17,6,31
30,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,0,1,1,1963,2015-16,6,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,...,0,0,1,1,0,2,1943,1987-88,4,44
33,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,1977,2005-06,12,78
34,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,0,1987,1996-97,7,88
35,35,Castellon,11,285,334,103,79,152,419,588,...,0,0,1,2,0,3,1941,1990-91,4,42
36,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,0,1991,2004-05,7,92
37,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,0,2007,2014-15,8,8
38,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,0,1,0,1,1962,2014-15,5,63
39,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,0,1994,1997-98,10,95
40,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,0,1978,2008-09,8,79
41,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1971,1979-80,12,72
42,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1963,1969-70,7,64
43,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,0,1999,2008-09,17,0
44,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,0,2014,2014-15,10,15
45,45,Arenas,7,107,130,43,21,66,227,308,...,0,1,0,3,0,4,1929,1934-35,3,0
46,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,0,1990,1992-93,9,91
47,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,0,1947,2006-07,7,48
48,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,0,1996,1998-99,17,97
49,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,0,1995,1997-98,19,96
50,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1945,1950-51,10,46
51,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953,1957-58,14,54
52,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,0,1,1,1929,1931-32,6,0
53,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1979,1980-81,10,80
54,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,0,1929,1930-31,8,0
55,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1950,1993-94,16,51
56,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,0,2016,2016-17,17,17
57,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,0,2009,2009-10,20,10
58,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956,1956-57,16,57
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951,1951-52,16,52
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955,1955-56,15,56
61,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017,2017-18,9,18

In [18]:
#Print all the teams which have started playing between 1930-1980. (5 points)
b[(b['Debut']>1930) & (b['Debut'] <1980)]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Since
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931,1987-88,1,32
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,4,5,12,6,32,1934,2001-02,1,35
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,1939,2012-13,2,40
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,0,2,3,4,4,14,1932,2015-16,1,33
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,5,4,1,0,1,12,1941,2014-15,1,42
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,1939,2012-13,4,40
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,0,1,1,1,3,1948,2013-14,4,49
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,1,2,2,1,7,1944,2015-16,2,45
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,0,2,2,2,6,1935,2016-17,4,36
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,0,1,0,1,2,1949,2008-09,4,50
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,0,3,2,2,4,11,1933,2000-01,3,34
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,0,2,1,5,1960,2012-13,3,61
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,1,5,1951,2015-16,2,52
22,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,1941,2016-17,6,42
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,1977,2015-16,8,78
24,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,1959,2014-15,5,60
26,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,0,1,4,5,1935,2010-11,5,36
27,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,0,2,0,2,1961,2009-10,5,62
28,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,1940,2007-08,11,41
30,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,0,1,1,1963,2015-16,6,64
31,31,Salamanca,12,375,423,123,102,198,422,581,...,0,0,0,0,0,0,1974,1998-99,7,75
32,32,Sabadell,14,353,426,129,95,202,492,720,...,0,0,1,1,0,2,1943,1987-88,4,44
33,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,1977,2005-06,12,78
35,35,Castellon,11,285,334,103,79,152,419,588,...,0,0,1,2,0,3,1941,1990-91,4,42
38,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,0,1,0,1,1962,2014-15,5,63
40,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,0,1978,2008-09,8,79
41,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1971,1979-80,12,72
42,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1963,1969-70,7,64
47,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,0,1947,2006-07,7,48
50,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1945,1950-51,10,46
51,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953,1957-58,14,54
53,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1979,1980-81,10,80
55,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1950,1993-94,16,51
58,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956,1956-57,16,57
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951,1951-52,16,52
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955,1955-56,15,56

In [ ]:
#Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)

In [24]:
b['Goal_diff_count']=0
b['GoalsFor'].dtypes
pd.to_numeric(b['GoalsFor'])
pd.to_numeric(b['GoalsAgainst'])
b['GoalsFor']=b['GoalsFor'].astype(int)
b['GoalsAgainst']=b['GoalsAgainst'].astype(int)
b['Goal_diff_count']=b['GoalsFor']-b['GoalsAgainst']
b

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Since,Goal_diff_count,Winning Percent
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,3,4,79,1929,1929,1,None,2807,59.630702
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,4,6,83,1929,1929,1,None,2786,57.241130
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,9,7,6,56,1929,2002-03,1,None,1225,47.475134
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,11,10,7,50,1931,1987-88,1,32,929,44.557057
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,5,8,10,49,1929,1929,1,None,931,43.772629
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,5,12,6,32,1934,2001-02,1,35,307,41.112957
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,5,2,5,16,1929,1994-95,3,None,-280,36.100533
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,5,4,3,19,1929,2010-11,1,None,-2,37.532580
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,5,4,4,18,1939,2012-13,2,40,-164,35.146022
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,3,4,4,14,1932,2015-16,1,33,-333,35.069444
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,1,0,1,12,1941,2014-15,1,42,-136,36.797386
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,2,4,5,11,1939,2012-13,4,40,-346,34.511190
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,1,1,1,3,1948,2013-14,4,49,-413,31.582538
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,2,0,1,5,1929,2011-12,2,None,-525,31.722689
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,2,2,1,7,1944,2015-16,2,45,-399,32.304527
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,2,2,2,6,1935,2016-17,4,36,-334,32.321700
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,1,0,1,2,1949,2008-09,4,50,-342,31.075697
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,2,2,4,11,1933,2000-01,3,34,-309,34.228188
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,1,5,1960,2012-13,3,61,-189,33.704453
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,5,1951,2015-16,2,52,-399,33.485401
21,21,Villarreal,17,970,646,266,172,208,892,789,...,2,3,2,9,1998,2013-14,2,99,103,41.176471
22,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,2,2,1941,2016-17,6,42,-338,29.380054
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,1977,2015-16,8,78,-328,28.987730
24,24,Elche,21,606,678,203,180,295,750,1022,...,0,1,1,2,1959,2014-15,5,60,-272,29.941003
25,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,1,1,2004,2015-16,6,05,-113,32.236842
26,26,Hercules,20,538,628,184,149,295,716,1050,...,0,1,4,5,1935,2010-11,5,36,-334,29.299363
27,27,Tenerife,13,510,494,155,128,211,619,744,...,0,2,0,2,1961,2009-10,5,62,-125,31.376518
28,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,1940,2007-08,11,41,-385,24.744027
29,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,1,1,1930,2016-17,6,31,-165,32.894737
30,30,Levante,11,416,402,113,95,194,430,632,...,0,0,1,1,1963,2015-16,6,64,-202,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,...,1,1,0,2,1943,1987-88,4,44,-228,30.281690
33,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,1977,2005-06,12,78,-269,23.214286
34,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,1987,1996-97,7,88,-198,27.745665
35,35,Castellon,11,285,334,103,79,152,419,588,...,1,2,0,3,1941,1990-91,4,42,-169,30.838323
36,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,1991,2004-05,7,92,-90,28.148148
37,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,2007,2014-15,8,08,-122,27.192982
38,38,Cordoba,9,230,282,82,63,137,285,430,...,0,1,0,1,1962,2014-15,5,63,-145,29.078014
39,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,1994,1997-98,10,95,-42,32.500000
40,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,1978,2008-09,8,79,-94,26.881720
41,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,1971,1979-80,12,72,-94,28.921569
42,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,1963,1969-70,7,64,-56,29.444444
43,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,1999,2008-09,17,00,-98,24.342105
44,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,2014,2014-15,10,15,-28,30.701754
45,45,Arenas,7,107,130,43,21,66,227,308,...,0,3,0,4,1929,1934-35,3,None,-81,33.076923
46,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,1990,1992-93,9,91,-38,22.807018
47,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,1947,2006-07,7,48,-114,29.310345
48,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,1996,1998-99,17,97,-55,25.000000
49,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,1995,1997-98,19,96,-45,23.750000
50,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,1945,1950-51,10,46,-107,27.777778
51,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,1953,1957-58,14,54,-62,32.222222
52,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,1,1,1929,1931-32,6,None,-31,29.166667
53,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,1979,1980-81,10,80,-45,25.000000
54,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,1929,1930-31,8,None,-34,33.333333
55,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,1950,1993-94,16,51,-112,19.117647
56,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,2016,2016-17,17,17,-19,21.052632
57,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,2009,2009-10,20,10,-28,21.052632
58,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,1956,1956-57,16,57,-20,23.333333
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,1951,1951-52,16,52,-34,23.333333
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,1955,1955-56,15,56,-31,16.666667
61,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,2017,2017-18,9,18,0,NaN

In [20]:
d=b['Goal_diff_count'].max()
b[b['Goal_diff_count']==d]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Since,Goal_diff_count
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,None,2807

In [21]:
f=b['Goal_diff_count'].min()
b[b['Goal_diff_count']==f]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Since,Goal_diff_count
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,2,0,1,5,1929,2011-12,2,None,-525

In [30]:
#Create a new column with name “Winning Percent” and append it to the data set (5 points)
#Percentage of Winning = (GamesWon / GamesPlayed)*100

#If there are any numerical error, replace it with 0%

#Print the top 5 teams which has the highest Winning percentage

b['Winning Percent']=0
pd.to_numeric(b['GamesWon'])
pd.to_numeric(b['GamesPlayed'])
b['GamesWon']=b['GamesWon'].astype(int)
b['GamesPlayed']=b['GamesPlayed'].astype(int)
b['Winning Percent']=(b['GamesWon']/b['GamesPlayed'])*100
b=b.fillna(value=0)
b

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Since,Goal_diff_count,Winning Percent
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,3,4,79,1929,1929,1,0,2807,59.630702
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,4,6,83,1929,1929,1,0,2786,57.241130
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,9,7,6,56,1929,2002-03,1,0,1225,47.475134
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,11,10,7,50,1931,1987-88,1,32,929,44.557057
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,5,8,10,49,1929,1929,1,0,931,43.772629
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,5,12,6,32,1934,2001-02,1,35,307,41.112957
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,5,2,5,16,1929,1994-95,3,0,-280,36.100533
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,5,4,3,19,1929,2010-11,1,0,-2,37.532580
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,5,4,4,18,1939,2012-13,2,40,-164,35.146022
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,3,4,4,14,1932,2015-16,1,33,-333,35.069444
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,1,0,1,12,1941,2014-15,1,42,-136,36.797386
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,2,4,5,11,1939,2012-13,4,40,-346,34.511190
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,1,1,1,3,1948,2013-14,4,49,-413,31.582538
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,2,0,1,5,1929,2011-12,2,0,-525,31.722689
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,2,2,1,7,1944,2015-16,2,45,-399,32.304527
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,2,2,2,6,1935,2016-17,4,36,-334,32.321700
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,1,0,1,2,1949,2008-09,4,50,-342,31.075697
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,2,2,4,11,1933,2000-01,3,34,-309,34.228188
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,1,5,1960,2012-13,3,61,-189,33.704453
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,5,1951,2015-16,2,52,-399,33.485401
21,21,Villarreal,17,970,646,266,172,208,892,789,...,2,3,2,9,1998,2013-14,2,99,103,41.176471
22,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,2,2,1941,2016-17,6,42,-338,29.380054
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,1977,2015-16,8,78,-328,28.987730
24,24,Elche,21,606,678,203,180,295,750,1022,...,0,1,1,2,1959,2014-15,5,60,-272,29.941003
25,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,1,1,2004,2015-16,6,05,-113,32.236842
26,26,Hercules,20,538,628,184,149,295,716,1050,...,0,1,4,5,1935,2010-11,5,36,-334,29.299363
27,27,Tenerife,13,510,494,155,128,211,619,744,...,0,2,0,2,1961,2009-10,5,62,-125,31.376518
28,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,1940,2007-08,11,41,-385,24.744027
29,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,1,1,1930,2016-17,6,31,-165,32.894737
30,30,Levante,11,416,402,113,95,194,430,632,...,0,0,1,1,1963,2015-16,6,64,-202,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,...,1,1,0,2,1943,1987-88,4,44,-228,30.281690
33,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,1977,2005-06,12,78,-269,23.214286
34,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,1987,1996-97,7,88,-198,27.745665
35,35,Castellon,11,285,334,103,79,152,419,588,...,1,2,0,3,1941,1990-91,4,42,-169,30.838323
36,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,1991,2004-05,7,92,-90,28.148148
37,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,2007,2014-15,8,08,-122,27.192982
38,38,Cordoba,9,230,282,82,63,137,285,430,...,0,1,0,1,1962,2014-15,5,63,-145,29.078014
39,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,1994,1997-98,10,95,-42,32.500000
40,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,1978,2008-09,8,79,-94,26.881720
41,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,1971,1979-80,12,72,-94,28.921569
42,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,1963,1969-70,7,64,-56,29.444444
43,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,1999,2008-09,17,00,-98,24.342105
44,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,2014,2014-15,10,15,-28,30.701754
45,45,Arenas,7,107,130,43,21,66,227,308,...,0,3,0,4,1929,1934-35,3,0,-81,33.076923
46,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,1990,1992-93,9,91,-38,22.807018
47,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,1947,2006-07,7,48,-114,29.310345
48,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,1996,1998-99,17,97,-55,25.000000
49,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,1995,1997-98,19,96,-45,23.750000
50,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,1945,1950-51,10,46,-107,27.777778
51,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,1953,1957-58,14,54,-62,32.222222
52,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,1,1,1929,1931-32,6,0,-31,29.166667
53,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,1979,1980-81,10,80,-45,25.000000
54,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,1929,1930-31,8,0,-34,33.333333
55,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,1950,1993-94,16,51,-112,19.117647
56,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,2016,2016-17,17,17,-19,21.052632
57,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,2009,2009-10,20,10,-28,21.052632
58,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,1956,1956-57,16,57,-20,23.333333
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,1951,1951-52,16,52,-34,23.333333
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,1955,1955-56,15,56,-31,16.666667
61,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,2017,2017-18,9,18,0,0.000000

In [29]:
b.reset_index()

c=b.set_index('Winning Percent')

c.iloc[0:5,:]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Since,Goal_diff_count
Winning Percent,,,,,,,,,,,,,,,,,,,,,
59.630702,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,0,2807
57.241130,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,0,2786
47.475134,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,0,1225
44.557057,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931,1987-88,1,32,929
43.772629,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,0,931

In [44]:
#Group teams based on their “Best position” and print the sum of their points for all positions (5 points)
#Eg: Best Position                Points

       # 1                              25000

        #2                              7000      

#Please Note:
b

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Since,Goal_diff_count,Winning Percent
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,3,4,79,1929,1929,1,0,2807,59.630702
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,4,6,83,1929,1929,1,0,2786,57.241130
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,9,7,6,56,1929,2002-03,1,0,1225,47.475134
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,11,10,7,50,1931,1987-88,1,32,929,44.557057
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,5,8,10,49,1929,1929,1,0,931,43.772629
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,5,12,6,32,1934,2001-02,1,35,307,41.112957
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,5,2,5,16,1929,1994-95,3,0,-280,36.100533
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,5,4,3,19,1929,2010-11,1,0,-2,37.532580
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,5,4,4,18,1939,2012-13,2,40,-164,35.146022
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,3,4,4,14,1932,2015-16,1,33,-333,35.069444
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,1,0,1,12,1941,2014-15,1,42,-136,36.797386
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,2,4,5,11,1939,2012-13,4,40,-346,34.511190
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,1,1,1,3,1948,2013-14,4,49,-413,31.582538
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,2,0,1,5,1929,2011-12,2,0,-525,31.722689
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,2,2,1,7,1944,2015-16,2,45,-399,32.304527
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,2,2,2,6,1935,2016-17,4,36,-334,32.321700
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,1,0,1,2,1949,2008-09,4,50,-342,31.075697
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,2,2,4,11,1933,2000-01,3,34,-309,34.228188
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,1,5,1960,2012-13,3,61,-189,33.704453
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,5,1951,2015-16,2,52,-399,33.485401
21,21,Villarreal,17,970,646,266,172,208,892,789,...,2,3,2,9,1998,2013-14,2,99,103,41.176471
22,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,2,2,1941,2016-17,6,42,-338,29.380054
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,1977,2015-16,8,78,-328,28.987730
24,24,Elche,21,606,678,203,180,295,750,1022,...,0,1,1,2,1959,2014-15,5,60,-272,29.941003
25,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,1,1,2004,2015-16,6,05,-113,32.236842
26,26,Hercules,20,538,628,184,149,295,716,1050,...,0,1,4,5,1935,2010-11,5,36,-334,29.299363
27,27,Tenerife,13,510,494,155,128,211,619,744,...,0,2,0,2,1961,2009-10,5,62,-125,31.376518
28,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,1940,2007-08,11,41,-385,24.744027
29,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,1,1,1930,2016-17,6,31,-165,32.894737
30,30,Levante,11,416,402,113,95,194,430,632,...,0,0,1,1,1963,2015-16,6,64,-202,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,...,1,1,0,2,1943,1987-88,4,44,-228,30.281690
33,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,1977,2005-06,12,78,-269,23.214286
34,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,1987,1996-97,7,88,-198,27.745665
35,35,Castellon,11,285,334,103,79,152,419,588,...,1,2,0,3,1941,1990-91,4,42,-169,30.838323
36,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,1991,2004-05,7,92,-90,28.148148
37,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,2007,2014-15,8,08,-122,27.192982
38,38,Cordoba,9,230,282,82,63,137,285,430,...,0,1,0,1,1962,2014-15,5,63,-145,29.078014
39,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,1994,1997-98,10,95,-42,32.500000
40,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,1978,2008-09,8,79,-94,26.881720
41,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,1971,1979-80,12,72,-94,28.921569
42,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,1963,1969-70,7,64,-56,29.444444
43,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,1999,2008-09,17,00,-98,24.342105
44,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,2014,2014-15,10,15,-28,30.701754
45,45,Arenas,7,107,130,43,21,66,227,308,...,0,3,0,4,1929,1934-35,3,0,-81,33.076923
46,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,1990,1992-93,9,91,-38,22.807018
47,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,1947,2006-07,7,48,-114,29.310345
48,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,1996,1998-99,17,97,-55,25.000000
49,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,1995,1997-98,19,96,-45,23.750000
50,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,1945,1950-51,10,46,-107,27.777778
51,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,1953,1957-58,14,54,-62,32.222222
52,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,1,1,1929,1931-32,6,0,-31,29.166667
53,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,1979,1980-81,10,80,-45,25.000000
54,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,1929,1930-31,8,0,-34,33.333333
55,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,1950,1993-94,16,51,-112,19.117647
56,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,2016,2016-17,17,17,-19,21.052632
57,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,2009,2009-10,20,10,-28,21.052632
58,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,1956,1956-57,16,57,-20,23.333333
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,1951,1951-52,16,52,-34,23.333333
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,1955,1955-56,15,56,-31,16.666667
61,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,2017,2017-18,9,18,0,0.000000

In [12]:
pd.to_numeric(b['BestPosition'])
pd.to_numeric(b['Points'])
b['BestPosition']=b['BestPosition'].astype(int)
b['Points']=b['Points'].astype(int)
group=b.groupby('BestPosition')

In [13]:
group['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64

In [14]:
#